chromadb
huggingface_hub
langchain
langchain_community
ollama
langchain_core
BeautifulSoup4
sentence-transformers
streamlit
langgraph
unstructured
duckduckgo-search
wikipedia
streamlit-audiorecorder
unstructured[pdf]